

/************static-game*****************/


.content-block__header-prediction {
    padding: 3.5px 12px;
    @media(max-width:767.98px){
        padding: 7.5px 12px;
    }
}
.static-game__block {
    padding: 12px 12px 8px 12px;
}
.static-game {
    border-radius:8px;
    background: var(--background);
    // .static-game__header

    // .static-game__body

    &__body {
        padding: 4px 0px;
        &:not(:last-child){
        margin-bottom:8px;
        }
    }

    // .static-game__title

    &__title {
        height: 24px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        &:not(:last-child){
            margin-bottom:4px;
        }
        @media(max-width:767.98px){
            font-size: 14px;
            height: 14px;
        }
    }

    // .static-game__label

    &__label {
        font-family: Roboto;
        font-weight: 400;
        font-size: 14px;
        @media(max-width:767.98px){
            font-size: 11px;
        }
    }

    // .static-game__content

    &__content {
        
    }
}
.prediction-content-loading {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-prediction-bookie {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    max-width: auto;
    @media(max-width:767.98px){
        height: 16px;
    }
}
.static-game__block-link {
    height: 32px;
    max-width: auto;
    @media(max-width:767.98px){
        height: 16px;
    }
    img {
        object-fit: cover;
        width: auto;
        max-height: 32px;
        @media(max-width:767.98px){
            max-height: 16px;
        }
    }
}
.static-content {


    &__top {
        height: 32px;
        transition: all 0.3s ease 0s;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 8px;
        &:not(:last-child){
            margin-bottom:8px;
        }
    }

    // .static-content__bottom

    &__bottom {
        
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 8px;
    }



}
.static-block {

    // .static-block__item

    &__item {
        height: 32px;
        transition: all 0.6s ease 0s;
        padding: 10.5px 8px;
        display: flex;
        font-size: 11px;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        span:nth-child(1) {
            display: block;
        }
        span:nth-child(2) {
            display: none;
            font-size: 14px;
            @media(max-width:487.98px){
                font-size: 12px;
            }
            @media(max-width:357.98px){
                font-size: 11px;
            }
        }
        @media(hover:hover) {
            &:hover {
                cursor: pointer;
            }
        }
        &:nth-child(1) {
            background:  var(--green);
        }
        &:nth-child(2) {
            background: var(--green-dark);
        }
        &:nth-child(3) {
            background:  var(--green-hover);
        }
        
    }
}
.static-block__item-percentage {
    height: 32px;
    transition: all 0.6s ease 0s;
    padding: 10.5px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    @media(hover:hover) {
        &:hover {
            cursor: pointer;
        }
    }
    @media(max-width:487.98px){
        font-size: 12px;
    }
    @media(max-width:357.98px){
        font-size: 11px;
    }
    &:nth-child(1) {
        background:  var(--green);
    }
    &:nth-child(2) {
        background: var(--green-dark);
    }
    &:nth-child(3) {
        background:  var(--green-hover);
    }
    .static-block__item-span {
        display: flex;
        align-items: center;
        gap: 4px;
        img {
            margin-bottom: 2px;
        }
    }
}



.bottom-info__button {
    margin-top: 16px;
    height: max-content;
    visibility: visible;
    opacity: 1;
    padding: 12px;
    @media(max-width:767.98px){
        padding: 7.5px;
        width: 100%;
    }
}

.static-content__top-percentage {
    display: flex;
    &:not(:last-child){
    margin-bottom:8px;
    }
}
.static-block__item-percentage {
    border-radius:0px;
    justify-content: start;
    span:nth-child(2) {
        display: block;
    }
    &:nth-child(1) {
       
        border-radius: 8px 0px 0px 8px;
        color: #EEFFA5;
    }
    &:nth-child(3) {
        border-radius: 0px 8px 8px 0px;
    }
}

.content-block__header {
    align-items: center;
}