
.date {
    color: var(--white);
    font-weight: 700;
    &.pre {
        font-size: 24px;
    }
    &.post {
        font-weight: 400;
        font-size: 14px;
        @media(max-width:767.98px){
            color:var(--grey-70) !important;
            font-size: 11px;
        }
    }
}