

.command-home {
    .country {
        top: -2px;
        position: absolute;
        max-width: 16px;
        max-height: 16px;
        @media(max-width:767.98px){
            max-width: 12px;
            max-height: 12px;
        }
    }
    .team {
        max-width: 100%;
        max-height: 100%;
        display: inline-flex;
    }
    .comand-imageteam {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width:767.98px){
            width: 24px;
            height: 24px;
        }
        @media(max-width:487.98px){
            width: 16px;
            height: 16px;
        }
    }
}
