
.table {
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
}
table, td, th, tr {
    border:none;
    border-collapse:collapse;
}
.table-team-image-block {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table-team-image {
    max-height: 16px;
    height: auto;
    width: auto;
}
.table tbody .table-row:last-child td:last-child {
    border-radius: 0px 0px 8px 0px;
}
.table tbody .table-row:last-child td:first-child {
    border-radius: 0px 0px 0px 8px !important;
}
    
