.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
    padding-bottom: 50px;
}

.main-block {
    // .main-block__body
    &__body {
        display: flex;
        justify-content: space-between;
    }
    // .main-block__aside
    &__aside {
        flex: 0 1 22.398601%; /* 302/1144 */
        @media(max-width:1100.98px){
            flex: 0 1 18.398601%;
        }
        @media(min-width:991.98px){
            padding-right: 24px;
        }
        @media(max-width:991.98px){
            @media(min-width:767.98px){
                padding-right: 12px;
            }
        }
        @media(max-width:767.98px){
            position: fixed;
            width: 100%;
            top: 0px;
            right: -120%;
            transition: all 0.3s ease 0s;
            height: 100%;
            z-index: 50;
            display: flex;
            justify-content: end;
            background-color: var(--black-50);
            &._active {
                right: 0;
            }
        }
    }

    .aside__menu {
        @media(max-width:767.98px){
            width: 100%;
            padding: 67px 34px 20px 24px;
            overflow: auto;
            background-image: url("/assets/main/bg.webp") ;
            height: 100%;
            background-size: cover;
            &::-webkit-scrollbar {
                width: 5px;
                background-color: var(--white);
                height: 100%;
            }
            
            &::-webkit-scrollbar-thumb {
                background: var(--green-light);
                border-radius: 5px;
            }
        }
        
    }
    // .main-block__content

    &__content {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 24px;
        @media(min-width:767.98px){
            flex: 0 1 76.202797%; /* 826/1144 */
        }
        @media(max-width:767.98px){
            width: 100%;
        }
    }
}
