

.green-cuotas {
    padding: 12px;
    height: 40px;
    @media(min-width:767.98px){
        width: 77px;
    }
    color: var(--white);
    font-size: 14px;
    border-radius:  4px;
    background: var(--green-hover);
    &.active {
        background: var(--green-dark);
    }
    @media(max-width:767.98px){
        font-size: 11px;
        height: 32px;
        padding: 5px 12px;
        width: 66px;
    }
}
.button-off {
    transition: all 0.3s ease 0s;
    background: var(--green-dark);
    color:var(--border);
    &.active {
        background: var(--green-hover);
        color:var(--white);
    }
}