

.green-cuotas {
    padding: 12px;
    height: 40px;
    color: var(--white);
    font-size: 14px;
    border-radius:  4px;
    background: var(--green-hover);
    &.active {
        background: var(--green-dark);
    }
    @media(max-width:767.98px){
        font-size: 11px;
        height: 32px;
        padding: 9.5px 12px;
    }
}
.button-off {
    background: var(--green-hover);
    color:var(--border);
    &.active {
        background: var(--green-dark);
        color:var(--white);
    }
}