

.link {
    color: var(--white);
    font-family: "Roboto Condensed";
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;
    @media(max-width:767.98px){
        font-size: 14px;
    }
    transition: color 0.3s ease 0s;
    path {
        transition: color 0.3s ease 0s;
    }
    @media(hover:hover) {
        &:hover {
            path {
                color:var(--green);
            }
            cursor: pointer;
            color:var(--green);
        }
    }
}

.home {
    @media(hover:hover) {
        &:hover {
            path{
                fill:var(--green);
            }
        }
    }
}

.ds {
    @media(max-width:767.98px){
        display: none;
    }
}