.cof-team {
    border-top: #60756C 1px solid;
    padding: 5px 12px;
    display: flex;
    font-family: Roboto;
    gap: 10px;
    font-weight: 400;
    font-size: 12px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%), rgba(17, 94, 42, 0.35);
    span, div {
        gap: 4px;
        flex: 0 1 33.333%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}