
.liveoddsitems {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

@media(min-width:991.98px){
    .liveoddscontainer {
        padding-right: 90px;
        padding-left: 90px;
        border-bottom:none !important;
    }
}
.liveoddsitems2 {
    padding-bottom: 16px;
    @media(max-width:767.98px){
        padding-bottom: 8px;
    }
}
.liveoddsblock {
    padding: 0px 12px;
}
.liveoddstitle {
    padding: 4px 0px;
    color: var(--white);
    font-size: 12px;
    font-weight: 700;
    line-height: 120%; /* 14.4px */
    &.live {
        color: var(--live);
    }
}

.liveoddsblocks {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @media(max-width:767.98px){
        gap: 8px;
    }
}
.liveoddsbutton {
    @media(max-width:767.98px){
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
.liveoddsbuttons {
    padding: 0px 12px 8px 12px;
    @media(max-width:767.98px){
        padding-top: 0px;
    }
}