.player {
    z-index: 5;
    // .player__name
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    position: absolute;
    width:78px;
    height:50px;
}
    .player__name {
        text-align: center;
        font-size: 10px;
        font-weight: 400;
        white-space: nowrap;
        &:not(:last-child){
            margin-bottom:2px;
        }
    }

    // .player__block

    .player__block {
        position: relative;
    }

    // .player__number

    .player__number {
        display: inline-flex;
        width: max-content;
        font-size: 10px;
        text-align: center;
        bottom: 9px;
        transform: translate(-50%);
        left: 50%;
        color: var(--white);
        font-weight: 700;
    }

    // .player__border



    // .player__minute

    .player__minute { 
        width: 14px;
        font-size: 7px;
        bottom: 2px;
        color: var(--white);
        right: -14px;
        font-size: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 14px;
        font-weight: 900;
        border-radius:50%;
        border: 1px solid var(--white);
        background: var(--background);
    }


.player__card {
    position: absolute;
    top: -2px;
    right: -11px;
    width: 7.5px;
    z-index: 30;
    height: 10px;
}

.player__gol {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    gap: 2px;
    text-align: center;
    font-size: 7px;
    bottom:2px;
    font-weight: 900;
    position: absolute;
    left: -14px;
}


.player__goalkeeper {
    position: absolute;
    width:  12px;
    height: 4px;
    bottom: 5px;
    left: 4px;
    background:var(--white);
}
.player__capitan {
    position: absolute;
    bottom: -13px;
}

.player__number,
.player__minute {
    position: absolute;
}


.player.top {
    // .player__bg
    .player__bg {
        fill: var(--green-dark);
    }
}

.player.bottom {
    // .player__bg
    .player__bg {
        fill:  var(--live);
    }
}

.player-block {
    width: 100%;
    display: flex;
    justify-content: space-around;
}