.team {
    padding: 4px;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    @media(max-width:487.98px){
        padding: 8px 2px;
    }
}
.block {
    flex: 0 1 43%;
    @media(max-width:767.98px){
        flex: 0 1 33.333333%; /* 88/264 */
    }
}

.right {
    text-align: left;
    display: flex;
    justify-content: start;
    flex: 0 1 43%;
    @media(max-width:767.98px){
        flex: 0 1 33.333333%; /* 88/264 */
    }
}
.left {
    display: flex;
    text-align: right;
    justify-content: flex-end; // на эту строку
    flex: 0 1 43%;
    @media(max-width:767.98px){
        flex: 0 1 33.333333%; /* 88/264 */
    }
}