
/**************pole**********/




.pole-block-bottom {
    padding: 19px 12px 12px 12px;
    @media(min-width:991.98px){
        display: none;
    }
}

.pole-block-top {
    padding: 12px 12px 19px 12px;
    @media(min-width:991.98px){
        display: none;
    }
}



@media(max-width:991.98px){
    .pole-body__top,
    .pole-body__bottom {
        position: relative;
        width: 80%;
        height: 100%;
        margin: 0px auto;
    }
    .pole-body__top-content,
    .pole-body__bottom-content{
        height: 50%;
    }
}


.pole__rectangle-center,
.pole__rectangle-circle {
    position: absolute;
    z-index: 2;
}

.pole__rectangle-center {
    height: 2px;
    top: calc(50% - 1px);
    width: 100%;
    background-color: #115E2A;
    @media(min-width:991.98px){
        display: none;
    }
}

.pole__rectangle-circle {
    height: 2px;
    top: calc(50% - 35px);
    width: 70px;
    height: 70px;
    left:calc(50% - 35px);
    border-radius:50%;
    border:2px solid #115E2A;
    @media(min-width:991.98px){
        display: none;
    }
}


.pole__body {

    @media(max-width:991.98px){
        width: 100%;
        height: 558px;
        border-bottom: 2px solid #115E2A;
        border-top: 2px solid #115E2A;
    }

}
.pole {

    // .pole__rectanle-top
    &__rectanle-top {
        top: -2px;
    }

    &__rectanle-top,
    &__rectanle-bottom {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        @media(max-width:991.98px){
            display: block;
        }
        @media(min-width:991.98px){
            display: none;
        }
    }
    // .pole__rectanle-bottom

    &__rectanle-bottom {
        bottom: -2px;
    }
}