

.breadcrumbs {
    padding: 6.5px 0px;
    overflow: hidden;
    color: var(--green);
    text-overflow: ellipsis;
    display: flex;
    text-align: left;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    @media(max-width:767.98px){
        font-size: 11px;
    }
}
.breadcrumbs__item-first {
    white-space: nowrap;
}
.breadcrumbs__item {
    position: relative;
    display: inline-flex;
    align-items: center;
    max-width: max-content;
    gap: 4px;
    &:nth-child(1) {
        color: var(--white);
    }
    &:not(:last-child) {
        &::after {
            content: url("/assets/icons/chevron-2.svg");
            padding-top: 2px;
        }
    }
}   